<h1>Media Library</h1>
<ul class="row card-group">
    {{#if user}}
        {{#each media}}
            <li class="card m-4 text-center col-lg-4">
                <h5>{{this.title}}</h5>
                <h6>{{this.type}}</h6>
                <p>{{this.releaseYear}}</p>
                <p>{{this.provider}}</p>
                <p>{{this.status}}</p>
                <p>{{this.rating}}</p>
                <p>{{this.username}}</p>
                <a href="/media/edit/{{this._id}}" class="btn btn-primary">
                    Edit
                </a>
                <a href="/media/delete/{{this._id}}" class="btn btn-primary"
                    onclick="return confirm('For real??');">
                    Delete
                </a>
            </li>
        {{/each}}
    {{else}}
            {{#each media}}
                <li class="card m-4 text-center col-lg-4">
                    <h5>{{this.title}}</h5>
                    <h6>{{this.type}}</h6>
                    <p>{{this.releaseYear}}</p>
                    <p>{{this.provider}}</p>
                    <p>{{this.status}}</p>
                    <p>{{this.rating}}</p>
                    <p>{{this.username}}</p>
                </li>
            {{/each}}
    {{/if}}
</ul>
{{#if user}}
    <a href="/media/create">Create New Media</a>
{{/if}}